
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
}
header{
    background-color: #5072B4
}
a:visited,
a:link {
    color: black;
    text-decoration-line: none;
}
a:hover {
    color: #F06A3F; 
}
link {
    cursor: pointer;
}
.intro{
    background-color: #F06A3F;
}
main{
    background-color:#8A8F98;
}
footer{
    background-color: #5072B4;
}
    .font-34 {
        font-size: 34px;
    }
    .font-30 {
        font-size: 30px;
    }
    .font-28 {
        font-size: 28px;
    }
    .font-26 {
        font-size: 26px;
    }
    .font-24 {
        font-size: 24px;
    }
    .font-20 {
        font-size: 20px;
    }
    .font-50 {
        font-size: 50px;
    }
    .center{
        text-align: center;
    }
/** 
font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif; 
*/
.fontPlayfairReg {
    font-family: 'Playfair Display', serif; 
    font-weight: 400;
}
.fontPlayfairMed {
    font-family: 'Playfair Display', serif; 
    font-weight: 500;
}
.fontQuicksand {
    font-family: 'Quicksand', sans-serif; 
    font-weight: 500;
}
.fontQuicksand {
    font-family: 'QuicksandReg', sans-serif; 
    font-weight: 400;
}
.containerHeader {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 100px;
    padding: 8px 10px 20px 10px;
}
.containerHeader > div {
    display: flex;
    padding: 20px 0px 10px 0px;
    justify-content: space-around;
    align-items: center;
}
.menu {
    border: 2px solid #5072B4 ;
    position: absolute;
    right: 1.6%;
    top: 12%;
    text-align: right;
    background-color: #f06b3fd8;
    padding: .35rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, .1);
    opacity: 0;
    transform: translateY(-10px);
    transition: all .4s ease;
}
.menu li:hover{
    color: #355dad;
}
.dropdown button {
    background-color: #f06b3fdf;
    width: 110%;
    height: auto;
    border-radius: 10px;
    border: none;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.dropdown div {
    opacity: 0;
}
.dropdown button:focus + ul{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}
.containerNav {
    padding: 25px 70px 10px 70px;
    list-style-type: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.containerNav > div {
    flex: 1 1 200px;
}
.sky {
    width:100%;
    height: auto;
}
.campImg {
    width: 68%;
    height: auto;
}
.logo {
    width: 110%;
    height: 110%;
    background-color: #F06A3F;
    border-radius: 50%;
}
.explore {
    padding: 20px 0 20px 0;
}
.containerMain {
    align-items: center;
    padding: 10px 30px 25px 30px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.containerMain > div {
    flex: 1 1 250px;
}
.menuImg {
    width:60%;
    height: auto;
    padding: 0 0 20px 0;
}
.menuButtons {
    background-color: #f06b3fe3;
    border: 5px 10px 5px 10px;
    color: black;
    border-color: #F06A3F;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}
.menuButtons h2:hover{
    color: #355dad;
}
.booksButton {
    padding: 5px 50px 5px 50px;
}
.charactersButton {
    padding: 5px 18.7px 5px 18.7px;
}
.tvButton {
    padding: 5px 26.4px 5px 26.4px;
}
.fanButton {
    padding: 5px 43.8px 5px 43.8px;
}
.containerFooter> div {
    display: grid;
    align-items: center;
}
.containerFooter {
    align-items: center;
    padding: 10px 30px 10px 30px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "c c c b b b t i f "
}
.contact {
    justify-content: left;
    grid-area: c;
}
.building {
    justify-content: center;
    grid-area: b;
    width:90%;
    height: auto;
}
.twitter{
    justify-content: right;
    grid-area: t;
    width:100%;
    height: auto;
}
.instagram{
    justify-content: right;
    grid-area: i;
    width:100%;
    height: auto;
}
.facebook{
    justify-content: right;
    grid-area: f;
    width:100%;
    height: auto;
}