$color_1: black;
$color_2: #F06A3F;
$color_3: #355dad;
$font-family_1: 'Playfair Display', serif;
$font-family_2: 'Quicksand', sans-serif;
$font-family_3: 'QuicksandReg', sans-serif;
$background-color_1: #5072B4;
$background-color_2: #F06A3F;
$background-color_3: #8A8F98;
$background-color_4: #f06b3fd8;
$background-color_5: #f06b3fdf;
$background-color_6: #f06b3fe3;
$border-color_1: #F06A3F;

/** 
font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif; 
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	li {
		list-style-type: none;
	}
}
header {
	background-color: $background-color_1;
}
a {
	&:visited {
		color: $color_1;
		text-decoration-line: none;
	}
	&:link {
		color: $color_1;
		text-decoration-line: none;
	}
	&:hover {
		color: $color_2;
	}
}
link {
	cursor: pointer;
}
.intro {
	background-color: $background-color_2;
}
main {
	background-color: $background-color_3;
}
footer {
	background-color: $background-color_1;
}
html {
	font-size: 16px;
}
.font-34 {
	font-size: 2.125rem;
}
.font-30 {
	font-size: 1.875rem;
}
.font-28 {
	font-size: 1.75rem;
}
.font-26 {
	font-size: 1.625rem;
}
.font-24 {
	font-size: 1.5rem;
}
.font-20 {
	font-size: 1.25rem;
}
.font-50 {
	font-size: 3.125rem;
}
.center {
	text-align: center;
}
.fontPlayfairReg {
	font-family: $font-family_1;
	font-weight: 400;
}
.fontPlayfairMed {
	font-family: $font-family_1;
	font-weight: 500;
}
.fontQuicksand {
	font-family: $font-family_2;
	font-weight: 500;
	font-family: $font-family_3;
	font-weight: 400;
}
.containerHeader {
	display: flex;
	padding: 18px 10px 30px 10px;
	justify-content: space-between;
	>div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.menu {
	border: 2px solid #5072B4;
	position: absolute;
	right: 1.6%;
	top: 14%;
	text-align: right;
	background-color: $background-color_4;
	padding: .35rem;
	border-radius: .25rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
	opacity: 0;
	transform: translateY(-10px);
	transition: all .4s ease;
	li {
		&:hover {
			color: $color_3;
		}
	}
}
.dropdown {
	button {
		background-color: $background-color_5;
		width: 110%;
		height: auto;
		border-radius: 10px;
		border: none;
		color: $color_1;
		text-decoration: none;
		cursor: pointer;
		&:focus {
			+ {
				ul {
					opacity: 1;
					pointer-events: all;
					transform: translateY(0px);
				}
			}
		}
	}
	div {
		opacity: 0;
	}
}
.containerNav {
	padding: 0 70px 10px 70px;
	list-style-type: none;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	flex-wrap: wrap;
	>div {
		flex: 1 1 300px;
	}
}
.sky {
	background-image: url("../Assets/img/rectangle3.png");
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 30px;
	padding-top: 30px;
}
.pegasus {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	height: auto;
}
.campImg {
	width: 100%;
	height: auto;
}
.logoDiv {
	height: auto;
	background-color: $background-color_2;
	border-radius: 50%;
}
.logo {
	padding: 14px 10px 6px 10px;
	width: 100%;
	height: auto;
}
.explore {
	padding: 20px 0 20px 0;
}
.containerMain {
	align-items: center;
	padding: 10px 30px 25px 30px;
	display: flex;
	justify-content: space-around;
	justify-items: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	>div {
		flex: 1 1 250px;
	}
}
.menuImg {
	width: 60%;
	height: auto;
	padding: 20px 0 20px 0;
}
.menuButtons {
	background-color: $background-color_6;
	border: 5px 10px 5px 10px;
	color: $color_1;
	border-color: $border-color_1;
	text-decoration: none;
	cursor: pointer;
	border-radius: 10px;
	h2 {
		&:hover {
			color: $color_3;
		}
	}
}
.booksButton {
	padding: 5px 50px 5px 50px;
}
.charactersButton {
	padding: 0 18.7px 5px 18.7px;
	grid-area: button;
	justify-content: top;
}
.tvButton {
	padding: 5px 26.4px 5px 26.4px;
}
.fanButton {
	padding: 5px 43.8px 5px 43.8px;
}
.containerFooter {
	>div {
		display: grid;
		align-items: center;
	}
	align-items: center;
	padding: 10px 30px 10px 30px;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "c c . b b . t i f ";
}
.contact {
	justify-content: left;
	grid-area: c;
}
.buildingDiv {
	justify-content: right;
	grid-area: b;
	width: 100%;
	height: auto;
}
.building {
	width: 100%;
	height: auto;
}
.twitterDiv {
	justify-content: right;
	grid-area: t;
	width: 100%;
	height: auto;
}
.twitter {
	width: 100%;
	height: auto;
}
.instagramDiv {
	justify-content: right;
	grid-area: i;
	width: 100%;
	height: auto;
}
.instagram {
	width: 100%;
	height: auto;
}
.facebookDiv {
	justify-content: right;
	grid-area: f;
	width: 100%;
	height: auto;
}
.facebook {
	width: 100%;
	height: auto;
}
.teaserIntroDiv {
	border: 10px;
	padding: 20px 10px 35px 10px;
}
.teaserIntroContent {
	border: 10px;
	max-width: 800px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px 5px 10px;
	background-color: $background-color_2;
	border-radius: 46px;
}
.videoDiv {
	max-width: 100%;
	height: auto;
}
.video {
	justify-content: center;
	border: 10px;
	max-width: 96%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px 5px 10px;
}
.tvText1 {
	align-items: center;
	justify-content: center;
	padding: 30px 60px 0px 60px;
	line-height: 1.35;
}
.tvText2 {
	align-items: center;
	justify-content: center;
	padding: 4px 50px 30px 50px;
}
.ellipseIntro {
	padding: 20px 10px 10px 10px;
}
.ellipseIntroImgDiv {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: auto;
}
.ellipseIntroImg {
	justify-content: center;
	width: 100%;
	height: auto;
	align-items: center;
	margin: auto;
	display: flex;
	padding: 10px 10px 40px 10px;
}
.charactersImg {
	width: 90%;
	height: 100%;
}
.characterNames {
	background-color: $background-color_6;
	padding: 10px 5px 10px 5px;
	color: $color_1;
	border-color: $border-color_1;
	text-decoration: none;
	border-radius: 16px;
	cursor: pointer;
	text-align: center;
}
.characterNameGrid {
	h2 {
		&:hover {
			color: $color_3;
		}
	}
	grid-area: name;
}
.characterNamesMenu {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
	opacity: 0;
	transform: translateY(-10px);
	transition: all .4s ease;
}
.containerCharacters {
	align-items: center;
	padding: 10px 30px 25px 30px;
	display: flex;
	justify-content: space-around;
	justify-items: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	>div {
		flex: 1 1 600px;
	}
}
.gridCharacters {
	display: grid;
	padding: 10px 10px 10px 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "img name" "img button";
}
.charactersImgDiv {
	grid-area: img;
	padding: 0 10px 0;
	width: 100%;
	height: auto;
}
.gallerySky {
	background-image: url("../Assets/img/rectangle3.png");
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 100px;
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 50px;
}
.wrap {
	>div {
		flex: 1 1 200px;
	}
}
.booksIntro {
	padding: 0 200px 0 200px;
	width: 100%;
	height: auto;
	padding: 10px 40px 10px 40px;
}
.containerFanArt {
	align-items: center;
	padding: 30px 30px 30px 30px;
	display: flex;
	justify-content: space-around;
	justify-items: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	>div {
		flex: 1 1 260px;
	}
}
.fanArtImg {
	width: 70%;
	height: auto;
}
.fanArtImgDiv {
	padding: 0 10px 0;
	width: 100%;
	height: auto;
}
.containerBooks {
	align-items: center;
	padding: 0 30px 30px 30px;
	display: flex;
	justify-content: space-around;
	justify-items: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}
.booksDiv {
	justify-items: center;
	padding: 10px 0 10px 0;
}
.booksTitle {
	text-align: center;
	padding: 10px 0 10px 0;
}
.booksImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0 10px 0;
}
.booksImgDiv {
	width: 100%;
	height: auto;
}
.booksUl {
	text-align: center;
}
.aboutUs {
	align-items: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "aut aui";
}
.aboutUsText {
	grid-area: aut;
	text-align: center;
}
.aboutUsImgDiv {
	grid-area: aui;
	background-image: url(../Assets/img/camphalfblood.png);
	width: 100%;
	height: 987px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.aboutUsP {
	padding: 0 130px 0 130px;
}
.aboutUsH1 {
	color: $color_1;
	border: 10px;
	max-width: 800px;
	margin: 0 260px 0 260px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $background-color_2;
	border-radius: 46px;
}
.aboutUsPText {
	padding-top: 30px;
}
.aboutUsH2 {
	padding-bottom: 10px;
}
.newsletter {
	align-items: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "nI nF";
}
.newsImg {
	grid-area: nI;
	background-image: url(../Assets/img/campnews.png);
	width: 100%;
	height: 900px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.newsForm {
	grid-area: nF;
	text-align: center;
	padding: 0 170px 0 170px;
}
.newsText {
	padding: 15px 0 15px 0;
}
.newsButtons {
	background-color: $background-color_6;
	border: 5px 10px 5px 10px;
	border-color: $border-color_1;
	text-decoration: none;
	cursor: pointer;
	border-radius: 10px;
	padding: 5px 5px 5px 5px;
	margin: 20px 50px 0 50px;
	h2 {
		&:hover {
			color: $color_3;
		}
	}
}
.buttonMargin {
	margin: 10px 0 0 10px;
}
.newsH1 {
	color: $color_1;
	margin: 30px 100px 0 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $background-color_2;
	border-radius: 46px;
}
@media (max-width: 500px) {
	html {
		font-size: 11px;
	}
	.menu {
		top: 8%;
	}
	.logo {
		padding: 4px 5px 3px 4px;
	}
	.ellipseIntroImg {
		padding: 10px 10px 20px 10px;
	}
	.gallerySky {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.fanArtImgHazel {
		width: 68%;
		height: auto;
	}
	.booksTitleResp {
		padding: 0 20px 0 20px;
	}
	.aboutUsH1 {
		margin: 0 90px 0 90px;
	}
	.aboutUsP {
		padding: 0 50px 0 50px;
	}
	.newsImg {
		width: 100%;
		height: 180px;
		background-position: center;
	}
	.newsForm {
		padding: 0 50px 40px 50px;
	}
	.aboutUs {
		align-items: center;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: 2;
		grid-template-areas: "aui" "aut";
	}
	.newsH1 {
		margin: 30px 20px 0 20px;
	}
}
@media (max-width: 900px) {
	.menu {
		top: 9%;
	}
	.fanArtImgHazel {
		width: 40%;
		height: auto;
	}
	.booksTitleResp {
		padding: 0 20px 0 20px;
	}
	.aboutUsText {
		padding: 30px 0 30px 0;
	}
	.aboutUs {
		align-items: center;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: 2;
		grid-template-areas: "aui" "aut";
	}
	.aboutUsImgDiv {
		width: 100%;
		height: 280px;
		background-position: center;
	}
	.newsImg {
		width: 100%;
		height: 300px;
		background-position: center;
	}
	.newsletter {
		align-items: center;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: 2;
		grid-template-areas: "nI" "nF";
	}
	.newsForm {
		padding: 0 170px 40px 170px;
	}
}
