$color_1: black;
$color_2: #F06A3F;
$color_3: #355dad;
$font-family_1: 'Playfair Display', serif;
$font-family_2: 'Quicksand', sans-serif;
$font-family_3: 'QuicksandReg', sans-serif;
$background-color_1: #5072B4;
$background-color_2: #F06A3F;
$background-color_3: #8A8F98;
$background-color_4: #f06b3fd8;
$background-color_5: #f06b3fdf;
$background-color_6: #f06b3fe3;
$border-color_1: #F06A3F;